    li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blancoPrincipal);
  transition: all 0.3s ease;
  font: var(--titulo);
}

h1 {
  font: var(--titulo);
  font-size: 3rem;
}

h2 {
  font: var(--titulo);
  font-size: 3rem;
}

.titulo-register-2 {
  margin: 0 0 0 100px ;
}

.logo {
  width: 12rem;
  height: 12rem;
}

.navBar {
  width: 100%;
  height: fit-content; /* coge el contenido maximo y se adapta a el */
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .nav a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navBar .links {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.navBar .toggle-button {
  color: var(--blancoPrincipal);
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

.vertical-title {
  writing-mode: vertical-rl; /* Este valor indica que el texto se escribirá verticalmente de arriba hacia abajo */
  text-align: center; /* Esto centra el texto verticalmente */
  white-space: nowrap; /* Esto evita que el texto se desborde */
  transform: rotate(
    180deg
  ); /* Esto gira el texto 180 grados para que quede derecho */
  font: var(--titulo);
  font-size: 3rem;
}

.blog-container {
  margin: 60px 20px;
}

.blog-image {
  width: 700px;
  height: 450px;
  background-size: cover;
  box-shadow: 4px 4px 10px var(--negroPrincipal);
}

.section {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 90px 0;
}
.cuerpoTexto {
  font: var(--cuerpoDeTexto);
  font-size: 2rem;
  margin-top: 40px;
}

.cuerpoTexto-blog {
  font: var(--cuerpoDeTexto);
  font-size: 2.4rem;
  margin: 20px 0 50px 0;
}

/* boton negro */
.action-button-dark {
  position: relative; /* Para posicionar el botón y el borde adicional */
  padding: 1.2rem 5rem;
  background-color: transparent;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
  border: 0.2rem solid black;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
  margin-top: 150px;
}

.action-button-dark:hover {
  background-color: black;
  border-color: black;
  color: var(--blancoPrincipal);
}

/* Borde adicional */
.action-button-dark::before {
  content: ""; /* Agregar contenido para poder aplicar estilos */
  position: absolute;
  top: 0.1rem; /* Desplazamiento hacia abajo */
  right: -0.6rem; /* Desplazamiento hacia la derecha */
  bottom: -0.6rem; /* Desplazamiento hacia arriba */
  left: 0.1rem; /* Sin desplazamiento hacia la izquierda */
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black; /* Borde blanco de 1 píxel */
  pointer-events: none; /* Evita que el borde adicional interfiera con los clics */
  text-align: center;
  transition: all 0.3s ease;
}

.action-button-dark:hover::before {
  color: var(--negroPrincipal); /* Cambio de color del texto */
  border-width: 70%;
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black; /* Borde blanco de 1 píxel */
}

.section-card {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-blog-title {
  text-align: center;
  margin-top: 40px;
  font: var(--titulo2);
}

.cards-blog {
  width: 312px;
  height: 357px;
  background-color: white;
  box-shadow: 2px 2px 10px var(--negroPrincipal);
  background-size: cover;
  transition: all 0.5s ease;
}

.cards-blog:hover {
  transform: scale(1.02);
}

/* RESPONSIVE */

@media (max-width: 1198px) {
  .section {
    flex-direction: column;
  }

  .vertical-title {
    writing-mode: horizontal-tb;
    font: var(--titulo);
    font-size: 3rem;
    transform: none;
    text-align: right;
  }

  .cuerpoTexto-blog{
    text-align: center;
  }
}

@media (max-width: 800px) {
  .blog-image {
    aspect-ratio: 16/9;
  }
}

@media(max-width: 731px) {
  .blog-image {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .blog-image {
    width: 100%;
    height: 400px;
  }
}

@media(max-width: 450px) {
  .blog-image {
    width: 100%;
    height: 350px;
  }

  .blog-container{
    text-align: center;
  }

  .vertical-title{
    font-size: 2.4rem;
  }
}

@media(max-width: 330px) {
  .cards-blog {
    width: 250px;
    height: 280px;
  }
}
