.formularioRegistro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
  gap: 30px;
}
.name {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.botonActualizar {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
}

.input-container-usuario {
  display: flex;
  align-items: center;
}

label {
  font: var(--titulo);
  margin-right: 10px;
}
input {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid var(--negroPrincipal);
  font: var(--cuerpoDeTexto);
}
