p{
  font-size: 2rem !important;
}

.titulo-register-2 {
  margin: 0 0 0 100px;
}

.rows-destinos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-destinos {
  position: relative;
  width: 661px;
  height: 580px;
  margin: 35px 35px;
}

.fondoContornoJapon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.white-border {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 28px;
}

.white-border h3 {
  text-transform: uppercase;
  font: var(--titulo);
  width: 90%;
  color: var(--colorPrimario);
}

.white-border h3::first-line {
  color: var(--blancoPrincipal);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blancoPrincipal);
  transition: all 0.3s ease;
  font: var(--titulo);
}

.logo {
  width: 120px;
  height: 120px;
}

.navBar {
  width: 100%;
  height: fit-content; /* coge el contenido maximo y se adapta a el */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .nav a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navBar .links {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.navBar .toggle-button {
  color: var(--blancoPrincipal);
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

.principal-section {
  margin-top: 50px;
}

.column {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* Primera columna */

.card-column1-izq {
  width: 800px;
  height: 580px;
  background-image: url(/images/japon/contornoJapon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-column1-izq-titulo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font: var(--titulo2);
}

.card-column1-izq-subtitulo {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font: var(--titulo);
}

.card-column1-izq-cuerpoTexto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: var(--cuerpoDeTexto);
}

.card-column1-der {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 661px;
  height: 580px;
  background-image: url(/images/japon/tokyo.jpg);
  background-size: cover;
  transition: all 0.5s ease;
}

.card-column1-der:hover {
  box-shadow: 3px 3px 10px var(--colorPrimario);
  transform: scale(1.01);
}

/* Segunda columna */

.card-column2-izq {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 580px;
  background-image: url(/images/eeuu/newYork.jpg);
  background-size: cover;
}

.card-column2-der {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 461px;
  height: 580px;
  background-image: url(/images/eeuu/washington.jpg);
  background-size: cover;
}

/* Tercera columna */

.card-column3-izq {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 461px;
  height: 580px;
  background-image: url(/images/londres2.jpg);
  background-size: cover;
}

.card-column3-der {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 580px;
  background-image: url(/images/japon/kyoto.jpg);
  background-size: cover;
}

/* Cuarta columna */

.card-column4-izq {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 580px;
  background-image: url(/images/japon/osaka.jpg);
  background-size: cover;
}

.card-column4-der {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 461px;
  height: 580px;
  background-image: url(/images/Roma.jpg);
  background-size: cover;
}

.text-container {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.text-container-background {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.125) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.626) 100%
  );
  color: var(--blancoPrincipal);
}

.text-container-titulo {
  font: var(--titulo);
  color: var(--blancoPrincipal);
  text-shadow: 2px 2px 5px black;
}

.text-container-titulo-morado {
  color: var(--colorPrimario);
  font: var(--titulo);
  margin-bottom: 10px;
  margin-left: 30px;
  text-shadow: 2px 2px 5px black;
}

.text-container-subtitulo {
  font: var(--cuerpoDeTexto);
  color: var(--blancoPrincipal);
  text-shadow: 2px 2px 5px black;
}

/* RESPONSIVE */

@media (max-width: 1499px) {
  .card {
    width: 661px;
  }
}

@media (max-width: 684px) {
  .card {
    width: 100%;
  }

  .column {
    padding: 10px;
  }
}

@media(max-width: 464px) {
  .card {
    height: 500px;
  }
}

@media(max-width: 360px) {
  .card {
    height: 400px;
  }

  .card.card-column1-der {
    margin-top: 200px;
  }

}