.title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding: 60px 30px 60px 30px;
  margin-top: 150px;
  width: 100%;
  background: linear-gradient(
    to right,
    black 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.titulo {
  font: var(--tituloLogin);
  margin-bottom: 35px;
}

.titulo-register {
  font: var(--tituloLogin);
  color: var(--blancoPrincipal);

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.titulo-register-2 {
  font: var(--tituloLogin);
  color: var(--colorPrimario);
  margin: 0 0 0 60px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* RESPONSIVE */
@media (max-width: 1030px) {
  .titulo-register-2 {
    margin: 0 auto !important;
  }

  .titulo-register {
    margin: 0 auto;
  }

  .title-container {
    margin-top: 75px;
    background: none;
    text-align: center;
  }
}
