<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barra de Navegación Fija</title>
    <link rel="stylesheet" href="css/barraNavegacion.css" />
    <link rel="stylesheet" href="css/general.css" />
  </head>
  <body>
    <!-- Barra de navegación fija -->
    <div class="navbar-mobile">
      <a href="index.html" class="active"
        ><i class="fas fa-home"></i><span>Inicio</span></a
      >
      <a href="blog.html"><i class="fa-regular fa-pen-to-square"></i><span>Blog</span></a>
      <a href="tienda.html"
        ><i class="fa-solid fa-bag-shopping"></i><span>Tienda</span></a
      >
      <a href="perfil.html"><i class="fas fa-user"></i><span>Perfil</span></a>
    </div>

    <!-- Enlace a FontAwesome para iconos -->
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
