<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <!-- footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="row-footer">
          <div class="footer-col">
            <h4>DESTINOS</h4>
            <ul>
              <li><a href="#">Europa</a></li>
              <li><a href="#">Asia</a></li>
              <li><a href="#">Estados Unidos</a></li>
              <li><a href="#">Europa</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>BLOG</h4>

            <ul>
              <li><a href="#">Consejos para viajar</a></li>
              <li><a href="#">Best of</a></li>
              <li><a href="#">Escapadas</a></li>
              <li><a href="#">Viajar barato</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>COMIDA</h4>
            <ul>
              <li><a href="#">Donde comer</a></li>
              <li><a href="#">Que comer</a></li>
              <li><a href="#">Comer barato</a></li>
              <li><a href="#">Sitios que no puedes perderte</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>REDES SOCIALES</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
