<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/informationSection.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <script src="../scripts/cards.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="information-container">
      <div>
        <div class="information-cards"></div>
        <div class="information-cards"></div>
      </div>

      <div class="information-cards"></div>
      <div class="information-text">
        <h1>hola</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse
          facilis vel deserunt a dolorum doloremque quidem corrupti maiores ipsa
          ex, beatae sit voluptates enim id saepe obcaecati fugiat
          exercitationem!
        </p>
        <button>que paza illo</button>
      </div>
      <div class="information-cards">hola</div>
    </div>
  </body>
</html>
