<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/general.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="navBar">
        <div>
          <a href="#"
            ><img src="images/logos/logo pagina oscuro.png" alt="" class="logo"
          /></a>
        </div>
        <ul class="links">
          <li><a href="#">Destinos</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Tienda</a></li>
        </ul>
        <a href="#" class="action-button">LOGIN</a>
        <a href="#" class="action-button second">REGISTRATE</a>
        <div class="toggle-button">
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
      </div>
    </header>
  </body>
</html>
