@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /*-------------COLORES-------------*/
  --negroPrincipal: #424242;
  --blancoPrincipal: #f5f5f7;
  --grisPrincipal: #bbbbbb;
  --colorPrimario: #437bfb;
  --degradado: #c2d3ff;

  /*-------------FONTS-------------*/
  --fuenteTitulos: "Francois One", sans-serif;
  --fuenteNav: "Bebas Neue", cursive;
  --fuenteCuerpoDeTexto: "Open Sans", sans-serif;

  /*-------------TEXTO-------------*/
  --titulo: 600 2.4rem var(--fuenteTitulos);
  --titulo2: 600 1.8rem var(--fuenteTitulos);
  --tituloNav: 600 2.8rem var(--fuenteNav);
  --tituloLogin: 600 4.6rem var(--fuenteTitulos);
  --cuerpoDeTexto: 400 1.4rem var(--fuenteCuerpoDeTexto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed #ff0000; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--blancoPrincipal);
}


.title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;

  padding: 60px 30px 60px 30px;
  margin-top: 150px;
  width: 100%;
  background: linear-gradient(
    to right,
    black 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.titulo {
  font: var(--tituloLogin);
  margin-bottom: 35px;
}

.titulo-register {
  font: var(--tituloLogin);
  color: var(--blancoPrincipal);

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.titulo-register-2 {
  font: var(--tituloLogin);
  color: var(--colorPrimario);
  margin: 0 0 0 60px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cuerpoTexto-register {
  font: var(--cuerpoDeTexto);
  color: var(--blancoPrincipal);
  font-size: 24px;
  margin-top: 40px;
  text-shadow: 2px 2px 10px black;
}

.principal-section {
  background: linear-gradient(
    to bottom,
    var(--blancoPrincipal) 0%,
    var(--degradado) 40%,
    var(--degradado) 50%,
    var(--degradado) 60%,
    var(--blancoPrincipal) 100%
  );
}

.line-gray {
  border: 1px solid var(--grisPrincipal);
  margin: 10px auto;
  width: 500px;
}

.line-purple {
  border: 3px solid var(--colorPrimario);
  width: 50px;
  margin: 20px auto;
}

/* Dropdown menu */

.dropdown-menu {
  display: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  
  overflow: hidden;
  transition: all 1.5s ease;
  z-index: 1111;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu li {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu-button {
  background-color: var(--colorPrimario);
  padding: 5px 50px;
  border-radius: 5px;
  text-align: center;
}

.dropdown-menu-button:hover {
  box-shadow: 1px 1px 10px var(--negroPrincipal);
}

.dropdown-menu {
  display: none;
  margin: 40px 20px auto;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: all 1.5s ease;
}

.dropdown-menu.open {
  height: auto;
}

.dropdown-menu li {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu-button {
  background-color: var(--colorPrimario);
  padding: 5px 50px;
  border-radius: 5px;
  text-align: center;
}

.dropdown-menu-button:hover {
  box-shadow: 1px 1px 10px var(--negroPrincipal);
}

.navBar .toggle-button {
  color: var(--blancoPrincipal);
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* Responsive */

@media (max-width: 1300px) {
  .navBar {
    padding: 0 50px;
  }
}

@media (max-width: 880px) {
  

  .navBar .links,
  .navBar .action-button {
    display: none;
  }

  .navBar .toggle-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
    z-index: 11111 !important;
  }

  
}

@media (max-width: 500px) {
    .titulo-register-2 {
      margin: 0 auto !important;
    }

    .titulo-register {
      margin: 0 auto !important;
    }

    .title-container {
      margin-top: 75px;
      background: none;
      text-align: center !important;
    }

    header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
  }
/* Responsive */

@media (max-width: 1030px) {
  .titulo-register {
    font: var(--tituloLogin);
    color: var(--blancoPrincipal);
    margin: 20px 0 0 20px;
    text-shadow: 2px 2px 10px black;
    font-size: 4rem;
  }

  .titulo-register-2 {
    font: var(--tituloLogin);
    color: var(--colorPrimario);
    margin: 0 0 0 60px;
    text-shadow: 2px 2px 10px black;
    font-size: 4rem;
  }
}

@media (max-width: 523px) {
  .line-gray {
    width: 250px;
  }
}

@media (max-width: 393px) {
  .title-container {
    background: none;
  }

  .titulo-register-2 {
    margin: 0;
    font-size: 3.5rem !important;
    text-align: center;
  }

  .titulo-register {
    margin: 0;
    font-size: 3.5rem !important;
    text-align: center !important;
  }

}
