.logo {
  width: 120px;
  height: 120px;
}

.principal-section{
  margin-top: 80px !important;
}

.navBar {
  width: 100%;
  height: fit-content; /* coge el contenido maximo y se adapta a el */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blancoPrincipal);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title{
  color: var(--negroPrincipal);
  font-style: italic;
  font: var(--titulo);
}


