
.logo {
  width: 120px;
  height: 120px;
}

.principal-section{
  margin-top: 80px !important;
}

.navBar {
  width: 100%;
  height: fit-content; /* coge el contenido maximo y se adapta a el */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blancoPrincipal);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title{
  color: var(--negroPrincipal);
  font-style: italic;
}

@media (max-width: 500px) {
  .titulo-register-2 {
    margin: 0 auto !important;
  }

  .titulo-register {
    margin: 0 auto !important;
  }

  .title-container {
    margin-top: 75px;
    background: none;
    text-align: center !important;
  }

  header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
}
