.carousel-container {
  width: 90%;
  max-width: 1600px;
  overflow: hidden;
  position: relative;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* Espacio entre las imágenes */
  padding-bottom: 20px; /* Espacio inferior para la barra de desplazamiento */
}

.carousel-item {
  position: relative;
  /* Ajustar el ancho para que se vea parte de la siguiente imagen */
  scroll-snap-align: start;
}

.carousel-item img {
  border-radius: 0.5rem;
  width: 600px;
  height: 400px;
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

/* Estilo para la barra de desplazamiento */
.carousel::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
  /* Espacio entre las imágenes y la barra */
}

.carousel::-webkit-scrollbar-thumb {
  background-color: var(--colorPrimario);
  border-radius: 10px;
  cursor: pointer;
}

.carousel::-webkit-scrollbar-track {
  background-color: var(--blancoPrincipal);
  border-radius: 10px;
}

/* Ocultar las flechas de desplazamiento */
.carousel::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 1197px) {
  .carousel-container {
    display: flex;
  }
}

@media (max-width: 600px) {
  .carousel-container {
    width: 90%;
  }

  .carousel-item img {
    width: 450px;
    height: 300px;
    display: block;
  }
}
