.principal-section {
  background: linear-gradient(
    to bottom,
    var(--blancoPrincipal) 0%,
    var(--degradado) 40%,
    var(--degradado) 50%,
    var(--degradado) 60%,
    var(--blancoPrincipal) 100%
  );
}

.ultimos-post-container {
  margin: 30px auto;
  text-align: center;
}

.consejos-container {
  margin: 30px auto;
  text-align: center;
}

h1 {
  font: var(--titulo);
}

.line-gray {
  border: 1px solid var(--grisPrincipal);
  margin: 10px auto;
  width: 500px;
}

.line-purple {
  border: 3px solid var(--colorPrimario);
  width: 50px;
  margin: 20px auto;
}

.cards-container {
  padding-inline: 150px;
}

.card {
  width: 246px;
  height: 325px;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 10px black;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.text-container {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 28px;
}

.text-container h3 {
  text-transform: uppercase;
  font: var(--titulo);
  width: 90%;
  color: var(--colorPrimario);
}

.text-container h3::first-line {
  color: var(--blancoPrincipal);
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 80px 30px;
}

.title-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  height: 300px;
  width: 100%;
  background: linear-gradient(
    to right,
    black 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}


.titulo {
  font: var(--tituloLogin);
  margin-bottom: 35px;
}

.titulo-register {
  font: var(--tituloLogin);
  color: var(--blancoPrincipal);
  margin: 35px 0 0 20px;
  text-shadow: 2px 2px 10px black;
}

.titulo-register-2 {
  font: var(--tituloLogin);
  color: var(--colorPrimario);
  margin: 0 0 0 20px;
  text-shadow: 2px 2px 10px black;
}

.cuerpoTexto-register {
  font: var(--cuerpoDeTexto);
  color: var(--blancoPrincipal);
  font-size: 24px;
  margin: 20px;
  width: 700px;
  text-shadow: 2px 2px 10px black;
}

