.footer {
  background-color: #24262b;
  background-image: linear-gradient(to right, #555555, #1d1d1d);
  padding: 70px;
}

.footer-container {
  max-width: 1200px !important;
  margin: auto;
}

ul {
  list-style: none;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font: var(--titulo);
  color: var(--blancoPrincipal);
  margin-bottom: 35px;
  position: relative;
}

.footer-col h4::before {
  content: "  ";
  left: 0;
  bottom: -10px;
  background-color: var(--colorPrimario);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  position: absolute;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: var(--blancoPrincipal);
  text-decoration: none;
  display: block;
  color: var(--grisPrincipal);
  transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  color: var(--blancoPrincipal);
  padding-left: 10px;
}

.footer-col .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 10px 10px 0;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
  color: var(--negroPrincipal);
  transition: transform 0.5s;
}

.footer-col .social-links a svg path {
  transition: 0.5s;
}

.footer-col .social-links a:hover svg path {
  stroke: var(--colorPrimario);
 
}

.footer-col .social-links a:hover {
  background-color: var(--blancoPrincipal);
  color: var(--colorPrimario);
  transform: scale(1.1);
  border: 1px solid var(--colorPrimario);
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 350px) {
  .footer-col {
    width: 80%;
  }
}
